include /etc/nginx/upstreams/maze.conf;

log_format upstreamlog
    '$remote_addr - $remote_user [$time_local] '
    '"$request" $status $bytes_sent '
    '"$http_referer" "$http_user_agent" "$gzip_ratio" '
    '$upstream_addr';

server {
    listen {{ server_listen_port }} {{ server_listen_default_tag }};
    server_name {{ server_server_name }};

    access_log /var/log/nginx/access.log upstreamlog;

    location / {
        allow {{ server_location_allow }};
        proxy_http_version {{ server_location_proxy_http_version }};
        proxy_set_header {{ server_location_proxy_set_header_1 }};
        proxy_set_header {{ server_location_proxy_set_header_2 }};
        proxy_set_header {{ server_location_proxy_set_header_3 }};
        proxy_pass {{ server_location_proxy_pass }};
	proxy_next_upstream error timeout invalid_header http_500;
    }
}
